{% extends 'base.html.twig' %}

{% block title %}Listado de Jugadores{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Listado de Jugadores</h1>
    <table class="table table-sm caption-top">
        <thead class="table-light">
            <tr>
                <th>Nombre</th>
                <th style="text-align:end;">Fuerza</th>
                <th style="text-align:end;">Velocidad</th>
                <th style="text-align:end;">Reacción</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td><a href="/player/{{ player.id }}">{{player.name}}</a></td>
                    <td align="right">{{player.strength}}</td>
                    <td align="right">{{player.speed}}</td>
                    <td align="right">{{player.reaction}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
