{% extends 'base.html.twig' %}

{% block title %}Tennis Challenge{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenido a Tennis Challenge! 🎾</h1>

    <h4>Contenido del sitio</h4>
    <ul>
        <li><a href="{{ url('tournament_index')}}" target="_self">Listado de Torneos</a></li>
        <li><a href="{{ url('tournament_type_index')}}" target="_self">Listado de Tipos de Torneos</a></li>
        <li><a href="{{ url('player_index')}}" target="_self">Listado de Jugadores</a></li>

        <li><a href="{{ url('tournament_show', {date: '2022-01-20'})}}" target="_self">Mostrar Torneos por Fecha</a></li>
        <li><a href="{{ url('tournament_type_show', {title: 'masculino'})}}" target="_self">Mostrar Torneos por Tipo</a></li>

        <li><a href="{{ url('tournament_type_create')}}" target="_self">FORM: Crear un Tipo de Torneo</a></li>
        <li><a href="{{ url('tournament_create')}}" target="_self">FORM: Crear Torneo desde JSON</a></li>
    </ul>

    <h4>Contenido de la API</h4>
    <ul>
        <li><a href="https://app.swaggerhub.com/apis/JANOSOFT_1/tennis_challenge/1.0">Swagger</a></li>
    </ul>
    
</div>
{% endblock %}
