{% extends 'base.html.twig' %}

{% block title %}Listado de Partidos
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Listado de Partidos</h1>
		<table class="table table-sm caption-top">
			<thead class="table-light">
				<tr>
					<th>ID</th>
					<th>Torneo</th>
					<th style="text-align:center;">Secuencia</th>
					<th style="text-align:center;">Suerte</th>
					<th style="text-align:center;">Favorece Local</th>
					<th style="text-align:end;">Local</th>
					<th style="text-align:end;">Visitante</th>
					<th style="text-align:end;"><strong>Ganador</strong></th>
				</tr>
			</thead>
			<tbody>
				{% for game in games %}
					<tr>
						<td><a href="/game/{{ game.getId() }}">{{game.getId()}}</a></td>
						<td>{{game.getStage().getTournament().getDate()|date("d/m/Y")}}</td>
						<td style="text-align:center;">{{game.getStage().getSequence()}}</td>
						<td style="text-align:center;">{{game.getLucky()}}</td>
						<td style="text-align:center;">{{game.isFavorslocals()?"Si":"No"}}</td>
						<td style="text-align:end;">{{game.getHomeplayer().getName()}}</td>
						<td style="text-align:end;">{{game.getAwayplayer().getName()}}</td>
						<td align="right"><strong>{{game.playGame().getName()}}</strong></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
