{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Listado Disponible</h1>

    Recuerde que puede acceder al Swagger de Tennis Challenge aquí: <a href="https://app.swaggerhub.com/apis/JANOSOFT_1/tennis_challenge/1.1">Acceder</a>
    <ul>
        <li><a href="{{ url('api_tournament_type_index')}}" target="_self">Listado de Tipos de Torneos</a></li>
        <li><a href="{{ url('api_tournament_index')}}" target="_self">Listado Torneos</a></li>
        <li><a href="{{ url('api_stage_index')}}" target="_self">Listado Etapas</a></li>
        <li><a href="{{ url('api_game_index')}}" target="_self">Listado Partidos</a></li>
        <li><a href="{{ url('api_player_index')}}" target="_self">Listado Jugadores</a></li>
    </ul>

    También puede:
    <ul>
        <li>Obtener Torneos según su Tipo: <strong>/api/tournament_type/{$title}</strong></li>
        <li>Obtener Torneos según su Fecha: <strong>/api/tournament/{$date}</strong></li>
        <li>Obtener Etapas según su Id: <strong>/api/stage/{$id}</strong></li>
        <li>Obtener Partidos según su Id: <strong>/api/game/{$id}</strong></li>
        <li>Obtener un Jugador según su Id: <strong>/api/player/{$id}</strong></li>
    </ul>

</div>
{% endblock %}
